@page

<div class="text-center">
    <h6 class="display-6">Thanks</h6>
    <p>Thanks For Placing Order #@OrderId</p>
    <p>We'll ship your goods as soon as possible.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Store</a>
</div>

@functions
{
    [BindProperty(SupportsGet = true)]
    public String? OrderId { get; set; }
}